<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="OneononeDto" type="kr.co.purplaying.domain.OneononeDto" />
		<typeAlias alias="BoardDto"	type="kr.co.purplaying.domain.BoardDto" />
		<typeAlias alias="SearchItem" type="kr.co.purplaying.domain.SearchItem" />
		<typeAlias alias="UserDto" type="kr.co.purplaying.domain.UserDto" />
		<typeAlias alias="AnsDto" type="kr.co.purplaying.domain.AnsDto" />
	</typeAliases>
</configuration>