<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="AddressDto" type="kr.co.purplaying.domain.AddressDto" />
		<typeAlias alias="AgreementDto" type="kr.co.purplaying.domain.AgreementDto" />
		<typeAlias alias="AnsDto" type="kr.co.purplaying.domain.AnsDto" />
		<typeAlias alias="BoardDto" type="kr.co.purplaying.domain.BoardDto" />
		<typeAlias alias="CommunityDto" type="kr.co.purplaying.domain.CommunityDto" />
		<typeAlias alias="genreDto" type="kr.co.purplaying.domain.GenreDto" />
		<typeAlias alias="LeaveDto" type="kr.co.purplaying.domain.LeaveDto" />
		<typeAlias alias="MemberDto" type="kr.co.purplaying.domain.MemberDto" />
		<typeAlias alias="NoticeDto" type="kr.co.purplaying.domain.NoticeDto" />
		<typeAlias alias="OneononeDto" type="kr.co.purplaying.domain.OneononeDto" />
		<typeAlias alias="Order" type="kr.co.purplaying.domain.Order" />
		<typeAlias alias="PaymentDto" type="kr.co.purplaying.domain.PaymentDto" />
		<typeAlias alias="ProjectDto" type="kr.co.purplaying.domain.ProjectDto" />
		<typeAlias alias="SearchItem" type="kr.co.purplaying.domain.SearchItem" />
		<typeAlias alias="SearchItem2" type="kr.co.purplaying.domain.SearchItem2" />
		<typeAlias alias="SearchResultDto" type="kr.co.purplaying.domain.SearchResultDto" />
		<typeAlias alias="SettingDto" type="kr.co.purplaying.domain.SettingDto" />
		<typeAlias alias="UserDto" type="kr.co.purplaying.domain.UserDto" />
		<typeAlias alias="RewardDto" type="kr.co.purplaying.domain.RewardDto" />
		<typeAlias alias="UpdateDto" type="kr.co.purplaying.domain.UpdateDto" />
		<typeAlias alias="AttachFileDto" type="kr.co.purplaying.domain.AttachFileDto" />
		<typeAlias alias="SearchItem" type="kr.co.purplaying.domain.SearchItem" />
		<typeAlias alias="ReplyDto" type="kr.co.purplaying.domain.ReplyDto" />
		<typeAlias alias="BannerFileDto" type="kr.co.purplaying.domain.BannerFileDto" />
	</typeAliases>
</configuration>