<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="UserDto" type="kr.co.purplaying.domain.UserDto" />
		<typeAlias alias="BoardDto" type="kr.co.purplaying.domain.BoardDto" />
		<typeAlias alias="IndexDto" type="kr.co.purplaying.domain.IndexDto" />
		<typeAlias alias="HeaderFundingDto" type="kr.co.purplaying.domain.HeaderFundingDto" />
		<typeAlias alias="genreDto" type="kr.co.purplaying.domain.GenreDto" />
		<typeAlias alias="Order" type="kr.co.purplaying.domain.Order" />
		<typeAlias alias="projectSuggestDto" type="kr.co.purplaying.domain.ProjectSuggestDto" />
	</typeAliases>
</configuration>