<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd ">

<mapper namespace="kr.co.purplaying.dao.BoardMapper">

  	<sql id="selectFromBoard">
  		SELECT bno, state, title, "content", writer,  private, reg_date
		FROM tb_board
  	</sql>
  	
  	<select id="select" parameterType="int" resultType="BoardDto">
  		<include refid="selectFromBoard" />
  		WHERE bno = #{bno}
  	</select>
  	
  	<delete id="deleteAll">
  		delete from tb_board
  	</delete>
  	
  	<delete id="delete" parameterType="map">
  		delete from tb_board where bno = #{bno} and writer = #{writer}
  	</delete>
  	
  	<delete id="deleteForAdmin">
  		delete from tb_board where bno = #{bno}
  	</delete>
  	
  	<insert id="insert">
  		INSERT INTO public.tb_board
			(title, content, writer)
		VALUES	
			(#{title}, #{content}, #{writer})
  	</insert>
  	
  	<select id="count" resultType="int">
  		select count(*) from tb_board
  	</select>
  	
  	<select id="selectPage" parameterType="map" resultType="BoardDto">
  		<include refid="selectFromBoard" />
		order by reg_date desc, bno desc 
		limit #{pageSize} offset #{offset}
  	</select>
  	
  	<update id="increaseViewCnt" parameterType="int">
  		update tb_board 
		set view_cnt = view_cnt + 1
		where bno= #{bno }
  	</update>

	<update id="update" parameterType="BoardDto">
		UPDATE public.tb_board
		SET title=#{title}, content=#{content}, up_date = now() 
		WHERE bno= #{bno } and writer = #{writer}
	</update>
  	
  	
	
</mapper>