<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd ">

<mapper namespace="kr.co.purplaying.dao.BoardMapper">

	<sql id="selectFromBoard"> <!--Board 내용 전체 select 추출-->
		SELECT bno, title, "content", writer, view_cnt, comment_cnt, reg_date FROM T_BOARD
	</sql>
	
	<select id="select" parameterType="int" resultType="BoardDto"> <!--Board select 특정 bno 추출-->
		<include refid="selectFromBoard"/>
		WHERE bno = #{bno}
	</select>
	
	<delete id="deleteAll">	<!-- truncate(serial리셋 + Delete 데이터) -->
		truncate table T_BOARD restart identity
	</delete>
	
	<insert id="insert" parameterType="BoardDto"> <!-- Board 테이블 데이터 추가 -->
		INSERT INTO T_BOARD (title,content,writer) VALUES (#{title},#{content}, #{writer})
	</insert>
	
	<select id="count" resultType="int"> <!-- Board 테이블 데이터 갯수 추출 -->
		SELECT COUNT(*) from T_BOARD  
	</select>
	
	<select id="selectPage" parameterType="map" resultType="BoardDto"> <!-- Board 테이블 데이터 추출 및 내림차순 정렬 (offset부터 pageSize만큼) -->
		<include refid="selectFromBoard"/>
			order by REG_DATE  desc , bno desc
			limit #{pageSize} OFFSET  #{offset}
	</select>
	
	<update id="increaseViewCnt" parameterType="int"> <!--조회수 컬럼 데이터 변경(증가)-->
		UPDATE T_BOARD set VIEW_CNT = VIEW_CNT + 1 where bno = #{bno}
	</update>
	
</mapper>