<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd ">
  
<mapper namespace="kr.co.purplaying.dao.CommunityMapper">

	
	<select id="selectAll" parameterType="int" resultType="CommunityDto"> 
		SELECT chat_no, chat_prdt_no, chat_serial_no, chat_writer, chat_context, chat_date, chat_type
		FROM tb_chat_service
		where chat_prdt_no = #{chat_prdt_no}
		order by chat_date
	</select> 
	
<!-- 	<insert id="insert" parameterType="CommunityDto"> Board 테이블 데이터 추가
		INSERT INTO tb_chat_service
		(chat_serial_no, chat_writer, chat_context, chat_date, chat_type)
		VALUES(#{chat_serial_no}, #{chat_writer}, #{chat_context}, #{chat_date}, #{chat_type});
	</insert>
	
	<update id="update" parameterType="CommunityDto">
		UPDATE tb_chat_service
		SET chat_serial_no=#{chat_serial_no}, chat_writer= #{chat_writer}, chat_context=#{chat_context}, chat_date=now(), chat_type=#{chat_type}
		WHERE chat_no=nextval('tb_chat_service_chat_no_seq'::regclass);
	</update>
 -->
</mapper>