<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd ">

<mapper namespace="kr.co.purplaying.dao.headerFundingMapper">
	<select id="popularFunding" parameterType="map" resultType="HeaderFundingDto" >
		select 
		prdt_genre,
		prdt_name,
		(prdt_currenttotal/prdt_goal)*100 as "prdt_percent",
		prdt_currenttotal, 
		(prdt_enddate-prdt_opendate) as "prdt_dday",
		row_number() over(order by (prdt_currenttotal/prdt_goal)*100 desc, prdt_id desc)
		from tb_product
		where <![CDATA[prdt_opendate <= current_date and current_date <= prdt_enddate]]> <!-- 오픈일 ~ 종료일에 있는 펀딩만 추출  -->		
		limit 6
	</select>

	<select id="newFunding" parameterType="map" resultType="HeaderFundingDto" >
		select 
		prdt_genre,
		prdt_name,
		(prdt_currenttotal/prdt_goal)*100 as "prdt_percent",
		prdt_currenttotal, 
		(prdt_enddate-prdt_opendate) as "prdt_dday",
		prdt_opendate,
		row_number() over(order by prdt_opendate desc, prdt_id desc) <!--시작일이 같을 경우 상품 번호로 내림차순 정렬  -->
		from tb_product
		where<![CDATA[prdt_opendate <= current_date and current_date <= prdt_enddate]]> <!-- 오픈일 ~ 종료일에 있는 펀딩만 추출  -->		
		limit 6
	</select>
	
	<select id="comingsoonFunding" parameterType="map" resultType="HeaderFundingDto" >
		select 
		prdt_genre,
		prdt_name,
		prdt_opendate,
		(prdt_opendate - current_date) as "prdt_comingday"
		from tb_product
		where <![CDATA[prdt_opendate > current_date]]> <!--오늘 이후 데이터만 추출  -->
		order by prdt_comingday, prdt_id desc
		limit 6;
	</select>
</mapper>