<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd ">
  	
 <mapper namespace="kr.co.purplaying.dao.PaymentMapper">
 	<sql id="selectAll">
 	SELECT 
 	pay_no, pay_time, pay_cardnum, pay_carddate, pay_cvc, pay_pwd, pay_total, 
 	prdt_id, 
 	user_no, 
 	delivery_reciever, delivery_phone, delivery_postcode, delivery_address, delivery_addressdetail, delivery_memo, delivery_charge
	FROM tb_payment
	limit 1
 	</sql>
 	
 	<select id="select" parameterType="map" resultType="PaymentDto">
 		<include refid="selectAll"/>
 	</select>
 	
 	<insert id="insert" parameterType="PaymentDto">
 	INSERT INTO tb_payment
	(pay_time, pay_cardnum, pay_carddate, pay_cvc, pay_pwd, pay_total,prdt_id, user_no, delivery_reciever, delivery_phone, delivery_postcode, delivery_address, delivery_addressdetail, delivery_memo, reward_id, reward_user_cnt )
	VALUES(now(), #{pay_cardnum},#{pay_carddate}, #{pay_cvc}, #{pay_pwd}, #{pay_total},#{prdt_id}, #{user_no}, #{delivery_reciever}, #{delivery_phone}, #{delivery_postcode}, #{delivery_address}, #{delivery_addressdetail}, #{delivery_memo}, #{reward_id},#{reward_user_cnt})
 	</insert>
 	
 	<select id="getPaymentInfo" parameterType="int" resultType="PaymentDto">
 		<include refid="selectAll"/>
 	</select>
 	
 	<select id="paymentCompleted" parameterType="map" resultType="PaymentDto">
 	SELECT 
 	pay_no, pay_time, pay_cardnum, pay_carddate, pay_cvc, pay_pwd, pay_total, 
 	prdt_id, 
 	user_no, 
 	delivery_reciever, delivery_phone, delivery_postcode, delivery_address, delivery_addressdetail, delivery_memo
	FROM tb_payment
 	where prdt_id = #{prdt_id} and user_no = #{user_no}
 	order by pay_no
 	limit 1
 	</select>
 	
 	<select id="getPaymentReceipt" parameterType="int" resultType="PaymentDto">
 	SELECT 
 	pay_no, pay_time, pay_cardnum, pay_carddate, pay_cvc, pay_pwd, pay_total, 
 	prdt_id, 
 	user_no, 
 	delivery_reciever, delivery_phone, delivery_postcode, delivery_address, delivery_addressdetail, delivery_memo, delivery_charge
	FROM tb_payment
	where pay_no = #{pay_no}
 	</select>
 	 
 	 <select id="pay_no" parameterType="Map" resultType="PaymentDto">
 	select pay_no
 	from tb_payment
 	where tb_payment.user_no = #{user_no} and tb_payment.prdt_id = #{prdt_id}
 	limit 1
 	</select>
 	
 	<select id="fundingManage" parameterType="Map" resultType="PaymentDto">
 	select
	pay_no, pay_time, user_no, reward_id, reward_user_cnt,
	delivery_reciever, delivery_phone, delivery_postcode, delivery_address, delivery_addressdetail,delivery_memo
	from tb_payment
	where prdt_id =  #{prdt_id}
 	</select>
 		
 </mapper>