<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd ">
  	
 <mapper namespace="kr.co.purplaying.dao.PaymentMapper">
 	<sql id="selectAll">
 	SELECT 
 	pay_no, pay_time, pay_cardnum, pay_carddate, pay_cvc, pay_pwd, pay_total, 
 	prdt_id, 
 	user_no, 
 	delivery_reciever, delivery_phone, delivery_postcode, delivery_address, delivery_addressdetail, delivery_memo, delivery_charge
	FROM tb_payment
	limit 1
 	</sql>
 	
 	<select id="select" parameterType="map" resultType="PaymentDto">
 		<include refid="selectAll"/>
 	</select>
 	
 	<insert id="insert" parameterType="PaymentDto">
 	INSERT INTO tb_payment
	(pay_time, pay_cardnum, pay_carddate, pay_cvc, pay_pwd, pay_total,prdt_id, user_no, delivery_reciever, delivery_phone, delivery_postcode, delivery_address, delivery_addressdetail, delivery_memo, reward_id, reward_user_cnt )
	VALUES(now(), #{pay_cardnum},#{pay_carddate}, #{pay_cvc}, #{pay_pwd}, #{pay_total},#{prdt_id}, #{user_no}, #{delivery_reciever}, #{delivery_phone}, #{delivery_postcode}, #{delivery_address}, #{delivery_addressdetail}, #{delivery_memo}, #{reward_id},#{reward_user_cnt})
 	</insert>
 	
 	<select id="getPaymentInfo" parameterType="int" resultType="PaymentDto">
 		<include refid="selectAll"/>
 	</select>
 	
 	<select id="paymentCompleted" parameterType="map" resultType="PaymentDto">
 	SELECT 
 	pay_no, pay_time, pay_cardnum, pay_carddate, pay_cvc, pay_pwd, pay_total, 
 	prdt_id, 
 	user_no, 
 	delivery_reciever, delivery_phone, delivery_postcode, delivery_address, delivery_addressdetail, delivery_memo
	FROM tb_payment
 	where prdt_id = #{prdt_id} and user_no = #{user_no}
 	order by pay_no
 	limit 1
 	</select>
 	
 	<select id="getPaymentReceipt" parameterType="int" resultType="PaymentDto">
 	SELECT 
 	pay_no, pay_time, pay_cardnum, pay_carddate, pay_cvc, pay_pwd, pay_total, 
 	prdt_id, 
 	user_no, 
 	delivery_reciever, delivery_phone, delivery_postcode, delivery_address, delivery_addressdetail, delivery_memo, delivery_charge
	FROM tb_payment
	where pay_no = #{pay_no}
 	</select>
 	 
 	 <select id="pay_no" parameterType="Map" resultType="PaymentDto">
 	select pay_no
 	from tb_payment
 	where tb_payment.user_no = #{user_no} and tb_payment.prdt_id = #{prdt_id}
 	limit 1
 	</select>
 	
 	<!-- 일주일이내 일당 후원액 집계 -->
	<select id="fundingManageForChart" parameterType="Map" resultType="PaymentDto">
	select sum(pay_total) as "daySum",Extract(dow from pay_time) as"day"
	from tb_payment
	where <![CDATA[pay_time >= current_date-7]]> and prdt_id =  #{prdt_id}
	group by Extract(dow from pay_time)
	order by current_date desc
	</select>
 	
 	<!-- 일주일 펀딩 내역 출력 -->
 	 <select id="fundingManageForWeek" parameterType="Map" resultType="PaymentDto">
 	select
	pay_no, pay_time, user_no, reward_id, reward_user_cnt, pay_total
	from tb_payment
	where prdt_id =  #{prdt_id} and <![CDATA[pay_time >= current_date-7]]>
 	</select>
 	
 	<!-- csv 추출시 쿼리문 -->
 	<select id="fundingManage" parameterType="Map" resultType="PaymentDto">
 	select
	pay_no, pay_time, user_no, reward_id, reward_user_cnt,
	delivery_reciever, delivery_phone, delivery_postcode, delivery_address, delivery_addressdetail,delivery_memo
	from tb_payment
	where prdt_id =  #{prdt_id}
 	</select>
	
 </mapper>