<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd ">

<mapper namespace="kr.co.purplaying.dao.ProductMapper">



    
	<select id="projectDetail" resultType="ProductDetailDto">

		select
		prdt_genre
		,prdt_name
		,prdt_desc
		,prdt_desc_detail
		,prdt_regdate
		,prdt_opendate
		,prdt_enddate
		,prdt_goal
		,prdt_currenttotal
		,prdt_desc_policy
		,prdt_user_no
		,user_no
		,user_id
		,user_pwd
		,user_name
		,user_phone
		,user_regdate
		,user_activate
		,user_role
		, (prdt_enddate-prdt_opendate) as "prdt_dday"
		, (prdt_enddate+1) as "prdt_purchaseday"
		, (prdt_enddate-3) as "prdt_limitday"
		, (prdt_currenttotal/prdt_goal)*100 as "prdt_percent"
		from tb_product p
		JOIN tb_user u
		ON p.prdt_user_no = u.user_no
		where prdt_id = #{prdt_id}
		limit 1
		
	</select>


	
</mapper>