<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd ">

<mapper namespace="kr.co.purplaying.dao.ProjectMapper">
	
	<select id="projectdetail" resultType="ProductDto" >
		select * from t_product
		where prdt_id = #{prdt_id}
	</select>


	
</mapper>