<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd ">

<mapper namespace="kr.co.purplaying.dao.ProjectMapper">
		<sql id="selectFromProject"> <!--tb 내용 전체 select 추출-->
		SELECT prdt_id, writer, prdt_name, prdt_desc, prdt_desc_detail, prdt_regdate, prdt_opendate, prdt_enddate, prdt_goal, prdt_currenttotal, prdt_open, prdt_desc_policy, prdt_genre, prdt_thumbnail, prdt_img
		, (prdt_enddate-prdt_opendate) as "prdt_dday"
		, (prdt_enddate+1) as "prdt_purchaseday"
		, (prdt_enddate-3) as "prdt_limitday"
		, (prdt_currenttotal/prdt_goal)*100 as "prdt_percent"
		,  prdt_buyercnt
		,  (prdt_opendate - current_date) as "prdt_comingday"
		FROM tb_product
	</sql>
	
	<sql id="searchCondition">
  		<choose>
			<when test='option=="T"'>
				AND prdt_name LIKE concat('%', #{keyword}, '%')
			</when>
			<when test='option=="W"'>
				AND writer LIKE concat('%', #{keyword}, '%')
			</when>
			<otherwise>
				AND (prdt_name LIKE concat('%', #{keyword}, '%')
				OR prdt_desc LIKE concat('%', #{keyword}, '%'))
			</otherwise>
		</choose>
  	</sql>
  	
  	<select id="count" resultType="int"> <!-- Board 테이블 데이터 갯수 추출 -->
		SELECT COUNT(*) from tb_product  
	</select>
  	
	<select id="select" parameterType="int" resultType="ProjectDto"> <!--Board select 특정 bno 추출-->
		<include refid="selectFromProject"/>
		WHERE prdt_id = #{prdt_id}
	</select>
	
	<select id="selectRecently" parameterType="map" resultType="ProjectDto"> <!--Board select 특정 bno 추출-->
		<include refid="selectFromProject"/>
		WHERE writer = #{writer}
		ORDER BY prdt_regdate DESC LIMIT 1
	</select>
	<select id="selectAll" parameterType="int" resultType="ProjectDto">
		<include refid="selectFromProject"/>
		where prdt_id = #{prdt_id}
		order by prdt_regdate
	</select>
	
	<select id="getListByWriter" parameterType="String" resultType="ProjectDto">
		<include refid="selectFromProject"/>
		where user_id = #{user_id}
		order by prdt_regdate
	</select>
	
	<select id="selectPage" parameterType="map" resultType="ProjectDto"> <!-- Board 테이블 데이터 추출 및 내림차순 정렬 (offset부터 pageSize만큼) -->
		<include refid="selectFromProject"/>
			order by prdt_id desc, prdt_regdate desc 
			limit #{pageSize} OFFSET  #{offset}
	</select>
	
	<select id="searchResultCnt" parameterType="SearchItem" resultType="int">
  		SELECT count(*)
		FROM tb_product
		WHERE TRUE
		<include refid="searchCondition" />
  	</select>
  	
  	<select id="searchSelectPage" parameterType="SearchItem" resultType="ProjectDto">
		<include refid="selectFromProject"/>
		FROM tb_product 
		WHERE TRUE
		<include refid="searchCondition" />
		ORDER BY prdt_regdate DESC, prdt_id DESC 
		LIMIT #{pageSize} OFFSET #{offset}
  	</select>
  	
  	<select id="projectDetail" resultType="ProjectDto">
		select
		prdt_genre
		,prdt_name
		,prdt_desc
		,prdt_desc_detail
		,prdt_regdate
		,prdt_opendate
		,prdt_enddate
		,prdt_goal
		,prdt_currenttotal
		,prdt_desc_policy
		,prdt_user_no
		,user_no
		,user_id
		,user_pwd
		,user_name
		,user_phone
		,user_regdate
		,user_activate
		,user_role
		, (prdt_enddate-prdt_opendate) as "prdt_dday"
		, (prdt_enddate+1) as "prdt_purchaseday"
		, (prdt_enddate-3) as "prdt_limitday"
		, (prdt_currenttotal/prdt_goal)*100 as "prdt_percent"
		from tb_product p
		JOIN tb_user u
		ON p.prdt_user_no = u.user_no
		where prdt_id = #{prdt_id}
		limit 1
	</select>
	
	<insert id="insert" parameterType="ProjectDto"> <!-- Board 테이블 데이터 추가 -->
        INSERT INTO tb_product
            (writer, prdt_opendate, prdt_enddate, prdt_open , prdt_goal , user_id)
        VALUES (#{writer}, now(), now(),  false , 500000 ,#{user_id})
    </insert>
	
	<update id="update" parameterType="ProjectDto">
		UPDATE public.tb_product
		SET prdt_name = #{prdt_name}, prdt_desc = #{prdt_desc}, prdt_desc_detail = #{prdt_desc_detail}
			, prdt_regdate = now(), prdt_opendate = #{prdt_opendate}, prdt_enddate = #{prdt_enddate}
			, prdt_goal = #{prdt_goal}, prdt_currenttotal = #{prdt_currenttotal}, prdt_open = #{prdt_open}
			, prdt_desc_policy = #{prdt_desc_policy}, prdt_genre = #{prdt_genre}
			, prdt_thumbnail = #{prdt_thumbnail}, prdt_img = #{prdt_img}
		WHERE prdt_id= #{prdt_id} AND writer = #{writer}
	</update>
	
	<delete id="delete" parameterType="map">
		DELETE FROM tb_product
		WHERE prdt_id = #{prdt_id} and writer = #{writer}		
	</delete>
	
	<select id="getPaymentProjectInfo" parameterType="int" resultType="ProjectDto">
		<include refid="selectFromProject"/>
		WHERE prdt_id = #{prdt_id}
	</select>
	
	
	<!-- updateDto -->
	<insert id="insertUpdate" parameterType="UpdateDto">
		insert into tb_update
		(update_regdate, update_title, update_desc, user_id, prdt_id)
		values (now(), #{update_title}, #{update_desc}, #{user_id}, #{prdt_id})	
	</insert>
	
	<select id="selectUpdate" parameterType="int" resultType="UpdateDto">
		select (row_number() over()), * from tb_update
		where prdt_id = #{prdt_id}
		order by update_regdate desc
	</select>
	
	<select id="fundinging" parameterType="map" resultType="ProjectDto" >
 		select prdt_id, prdt_name, prdt_content 
 	</select>

	 <!-- 결제 후  해당 펀딩 후원자수 증가 쿼리문 -->
	 <update id="plusBuyerCnt" parameterType="int">
 		update tb_product
 		set prdt_buyercnt = prdt_buyercnt +1
 		where prdt_id = #{prdt_id}
 	</update>
 	
	 <!-- 결제 후 해당 펀딩 총 후원금액 증가 쿼리문 -->
	 <update id="plusBuyerPrice" parameterType="int">
 		update tb_product
 		set prdt_currenttotal = #{prdt_currenttotal} + #{pay_total}
 		where prdt_id = #{prdt_id}
 	</update>  
 	
	
	<!-- admin -->
	<select id="selectProject" parameterType="SearchItem" resultType="ProjectDto">
		select prdt_id, prdt_name, writer,prdt_opendate,prdt_enddate,prdt_goal,prdt_currenttotal 
		from tb_product
		where prdt_name LIKE concat('%', #{keyword}, '%')
		order by prdt_regdate desc
		limit #{pageSize} OFFSET #{offset}
	</select>
	
	<delete id="deleteProject" parameterType="int">
		delete from tb_product
		where prdt_id = #{prdt_id}
	</delete>
	
	<select id="selectProjectlikelist" parameterType="int" resultType="ProjectDto">
		select * from tb_product
		where prdt_id = #{prdt_id}
		order by prdt_id desc
	</select>
	
	
	<!-- 마이페이지에서 후원한 펀딩 보이게 하는 쿼리문 -->
	<resultMap type="ProjectDto" id="ProjectDto">
 		 	<result column="prdt_id" property="prdt_id"/>
	 		 <result column="prdt_currenttotal" property="prdt_currenttotal"/>
	 		 <result column="prdt_goal" property="prdt_goal"/>
	 		 <result column="prdt_dday" property="prdt_dday"/>
	 		 <result column="prdt_percent" property="prdt_percent"/>
	 		 <result column="prdt_opendate" property="prdt_opendate"/>
	 		 <result column="prdt_enddate" property="prdt_enddate"/>
	 		 <result column="prdt_desc" property="prdt_desc"/>
	 		 <result column="prdt_name" property="prdt_name"/>
	 		 <result column="prdt_thumbnail" property="prdt_thumbnail"/>
 		<association property="PaymentDto" javaType="PaymentDto">
	 		 <result column="pay_no" property="pay_no"/>
 		 	<result column="prdt_id" property="prdt_id"/>
 		 	<result column="user_no" property="user_no"/>
 		</association>
 	</resultMap>
 	
 	 <select id="myfunding" parameterType="int" resultType="ProjectDto">
select
	dense_rank() over  (order by tb_product.prdt_id desc), 
	tb_product.prdt_id, 
	(prdt_currenttotal/prdt_goal)*100 as "prdt_percent",
	(prdt_enddate-prdt_opendate) as "prdt_dday",
 	tb_product.prdt_desc, 
 	tb_product.prdt_name, 
 	tb_product.prdt_thumbnail
from tb_product inner join
tb_payment
on tb_payment.prdt_id = tb_product.prdt_id
where tb_payment.user_no = #{user_no}
group by tb_product.prdt_id
 	</select>
</mapper>
