<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd ">

<mapper namespace="kr.co.purplaying.dao.ProjectMapper">
	<sql id="selectFromBoard"> <!--tb 내용 전체 select 추출-->
		SELECT product_id, writer, prdt_title, prdt_desc, prdt_desc_detail, prdt_regdate, prdt_opendate, prdt_enddate, prdt_goal, prdt_currenttotal, prdt_open, prdt_desc_policy, prdt_cate, prdt_thumbnail
		FROM tb_product
	</sql>
	
	<select id="select" parameterType="int" resultType="ProjectDto"> <!--Board select 특정 bno 추출-->
		<include refid="selectFromBoard"/>
		WHERE product_id = #{product_id}
	</select>
	
	<insert id="insert" parameterType="ProjectDto"> <!-- Board 테이블 데이터 추가 -->
		INSERT INTO tb_product
			(writer, prdt_title, prdt_desc, prdt_desc_detail, prdt_regdate, prdt_opendate, prdt_enddate, prdt_goal, prdt_open, prdt_desc_policy, prdt_cate, prdt_thumbnail)
		VALUES (#{writer}, #{prdt_title}, #{prdt_desc}, #{prdt_desc_detail}, now(), #{prdt_opendate}, #{prdt_enddate}, #{prdt_goal}, #{prdt_open}, #{prdt_desc_policy}, #{prdt_cate}, #{prdt_thumbnail} )
	</insert>
	
	<update id="update" parameterType="ProjectDto">
		UPDATE tb_product
		SET prdt_cate=#{prdt_cate}, prdt_regdate=#{prdt_regdate}, prdt_open=#{prdt_open}, prdt_title=#{prdt_title}, prdt_thumbnail=#{prdt_thumbnail}, prdt_desc=#{prdt_desc}, prdt_goal=#{prdt_goal}, prdt_currenttotal=#{prdt_currenttotal}, prdt_opendate=#{prdt_opendate}, prdt_enddate=#{prdt_enddate}, prdt_desc_detail=#{prdt_desc_detail}, prdt_desc_policy=#{prdt_desc_policy}
		WHERE product_id= #{product_id} and writer = #{writer}
	</update>
</mapper>