<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.purplaying.dao.RewardMapper">

	<sql id="selectAllReward">
		select (row_number() over(order by reward_category,reward_id )), * from tb_reward
	</sql>
	
	<select id="selectReward" parameterType="int" resultType="RewardDto">
		<include refid="selectAllReward"/>
		WHERE prdt_id = #{prdt_id}
	</select>
	<select id="selectItem" parameterType="int" resultType="RewardDto">
		<include refid="selectAllReward"/>
		WHERE reward_id = #{reward_id}
		order by reward_id
	</select>
	
	<insert id="insertReward" parameterType="RewardDto">
		insert into tb_reward (reward_name, reward_desc, reward_price, reward_stock, reward_category, prdt_id) VALUES (#{reward_name}, #{reward_desc}, #{reward_price}, #{reward_stock}, #{reward_category}, #{prdt_id})
	</insert>
	
	<update id="updateReward" parameterType="RewardDto">
		update tb_reward set reward_name = #{reward_name}, reward_price = #{reward_price}, reward_desc = #{reward_desc}, reward_stock = #{reward_stock}, reward_category = #{reward_category} 
		WHERE reward_id = #{reward_id}
	</update>
	
	<delete id="deleteReward" parameterType="int">
		delete from tb_reward
		where reward_id = #{reward_id}
	</delete>
	
	<select id="getPaymentRewardInfo" parameterType="int" resultType="RewardDto">
		<include refid="selectAllReward"/>
		WHERE prdt_id = #{prdt_id}
		order by reward_id
		limit 1
	</select>
	
	<select id="selectedRewardPayment" parameterType="map"  resultType="RewardDto">
		select reward_id, reward_name, reward_desc, reward_price, prdt_id, reward_cnt
		from tb_reward
		where (reward_id=#{reward_id} or reward_id=#{reward_id}) and prdt_id = #{prdt_id }
	</select>
	
	<update id="insertSelectReward" parameterType="map">
		update into tb_reward  set reward_id=#{no_arr}, reward_cnt=#{cnt_arr}
	</update>
	
	<select id="userReward" parameterType="map"  resultType="RewardDto" >
		<include refid="selectAllReward"/>
		where prdt_id = #{prdt_id }
	</select>

	<!-- 결제에 따른 리워드 재고 조정 -->
	<update id="calRewardStock" parameterType="int">
		update tb_reward
		set reward_stock = 
		case
			when #{reward_stock} = -1 then -1 <!-- 리워드 재고가 무한인 경우 -1로 유지 -->
			when #{reward_stock}-#{reward_user_cnt} >= 0 then #{reward_stock} - #{reward_user_cnt} <!-- 리워드 재고가 한정인 경우 기존 리워드 재고에서 감소 -->
		end
		where reward_id = #{reward_id} and  prdt_id = #{prdt_id}
	</update>

</mapper>