<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.purplaying.dao.RewardMapper">

	<sql id="selectAllReward">
		select (row_number() over()), * from tb_reward
	</sql>
	
	<select id="selectReward" parameterType="int" resultType="RewardDto">
		<include refid="selectAllReward"/>
		WHERE prdt_id = #{prdt_id}
		order by reward_id
	</select>
	<select id="selectItem" parameterType="int" resultType="RewardDto">
		<include refid="selectAllReward"/>
		WHERE reward_id = #{reward_id}
		order by reward_id
	</select>
	
	<insert id="insertReward" parameterType="RewardDto">
		insert into tb_reward (reward_name, reward_desc, reward_price, reward_stock, reward_category, prdt_id) VALUES (#{reward_name}, #{reward_desc}, #{reward_price}, #{reward_stock}, #{reward_category}, #{prdt_id})
	</insert>
	
	<update id="updateReward" parameterType="RewardDto">
		update tb_reward set reward_name = #{reward_name}, reward_price = #{reward_price}, reward_desc = #{reward_desc}, reward_stock = #{reward_stock}, reward_category = #{reward_category} 
		WHERE reward_id = #{reward_id}
	</update>
	
	<delete id="deleteReward" parameterType="int">
		delete from tb_reward
		where reward_id = #{reward_id}
	</delete>
	
	<select id="getPaymentRewardInfo" parameterType="int" resultType="RewardDto">
		<include refid="selectAllReward"/>
		WHERE prdt_id = #{prdt_id}
		order by reward_id
		limit 1
	</select>
	
	<select id="selectedRewardPayment" parameterType="map"  resultType="RewardDto">
		select reward_id, reward_name, reward_desc, reward_price, prdt_id, reward_cnt
		from tb_reward
		where (reward_id=#{reward_id} or reward_id=#{reward_id}) and prdt_id = #{prdt_id }
	</select>
	
	<update id="insertSelectReward" parameterType="map">
		update into tb_reward  set reward_id=#{no_arr}, reward_cnt=#{cnt_arr}
	</update>
	
	<select id="userReward" parameterType="map"  resultType="RewardDto" >
		<include refid="selectAllReward"/>
		where prdt_id = #{prdt_id }
	</select>

		<!-- 펀딩완료 페이지에서 결제 정보 보이게 하는 쿼리문 -->
<!--   	<resultMap type="RewardDto" id="RewardDto">
			<result column="prdt_id" property="prdt_id"/>
 		 	<result column="reward_id" property="reward_id"/>
 		 	<result column="reward_name" property="reward_name"/>
 		 	<result column="reward_price" property="reward_price"/>
 		<association property="PaymentDto" javaType="PaymentDto">
 			<result column="prdt_id" property="prdt_id"/>
 		 	<result column="reward_id" property="reward_id"/>
 			<result column="pay_no" property="pay_no"/>
 			<result column="user_no" property="user_no"/>
	 		<result column="reward_user_cnt" property="reward_user_cnt"/>
	 		<result column="pay_total" property="pay_total"/>
 		</association>
 	</resultMap>
 	
 	<select id="userSelectedReward" parameterType="map"  resultType="RewardDto" >
		select
		row_number() over (order by pay_no) as "row_number" ,
		tb_payment.pay_no,
		tb_payment.reward_id, 
		tb_reward.reward_name, 
		tb_payment.reward_user_cnt as "reward_user_cnt", 
		tb_reward.reward_price,
		tb_payment.pay_total
		from tb_payment left join tb_reward
		on tb_payment.reward_id = tb_reward.reward_id
		WHERE tb_payment.prdt_id = #{prdt_id} and tb_payment.user_no = #{user_no} and pay_total = #{pay_total}
	</select> -->

</mapper>