<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd ">

<mapper namespace="kr.co.purplaying.dao.searchResultMapper">
	
	
	
	<sql id="selectFromBoard"> <!--tb 내용 전체 select 추출-->
		SELECT prdt_id, writer, prdt_name, prdt_desc, prdt_desc_detail, prdt_regdate, prdt_opendate, prdt_enddate, prdt_goal, prdt_currenttotal, prdt_open, prdt_desc_policy, prdt_genre, prdt_thumbnail, prdt_img
		, (prdt_enddate-prdt_opendate) as "prdt_dday"
		, (prdt_enddate+1) as "prdt_purchaseday"
		, (prdt_enddate-3) as "prdt_limitday"
		, (prdt_currenttotal/prdt_goal)*100 as "prdt_percent"
		,  prdt_buyercnt
		,  (prdt_opendate - current_date) as "prdt_comingday"
		FROM tb_product
	</sql>
	

<!-- 	<sql id="searchCondition">
  		<choose>
			<when test='option=="T"'>
				AND prdt_name LIKE concat('%', #{keyword}, '%')
			</when>
			<when test='option=="W"'>
				AND writer LIKE concat('%', #{keyword}, '%')
			</when>
			<otherwise>
				AND (prdt_name LIKE concat('%', #{keyword}, '%')
				OR prdt_desc LIKE concat('%', #{keyword}, '%'))
			</otherwise>
		</choose>
  	</sql> -->
	

<!-- 	<select id="searchResult" parameterType="map" resultType="ProjectDto" >
		<include refid="selectFromBoard"/>
		where <![CDATA[prdt_opendate <= current_date and current_date <= prdt_enddate]]> 오픈일 ~ 종료일에 있는 펀딩만 추출 		
		limit 6
	</select> -->


	<select id="searchcount" parameterType="SearchItem2" resultType="int">
		select count(*) 
		FROM tb_product
		WHERE TRUE
		AND prdt_name LIKE concat('%', #{keyword}, '%')	
	</select>

  	<select id="searchSelectPage" parameterType="SearchItem2" resultType="ProjectDto">
		<include refid="selectFromBoard"/>
		WHERE TRUE
		AND prdt_name LIKE concat('%', #{keyword}, '%')
		ORDER BY prdt_regdate DESC, prdt_id DESC 
		limit 6 offset #{offset}	
  	</select>
	

	

	

</mapper>