<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="kr.co.purplaying.dao.UserMapper">

	<select id="selectUser" resultType="UserDto">
		SELECT 
			user_no
			, user_id
			, user_pwd
			, user_name
			, user_phone
			, user_regdate
			, user_activate
			, user_role
		FROM public.tb_user
	</select>
	
		<select id="selectUserbyId" resultType="UserDto">
		SELECT 
			user_no
			, user_id
			, user_pwd
			, user_name
			, user_phone
			, user_regdate
			, user_activate
			, user_role
		FROM public.tb_user
	</select>
	
	
	
		
</mapper>