<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.purplaying.UserMapper">

	<sql id="selectFromBoard">
		SELECT user_no, user_id, user_pwd, user_name, user_phone, user_regdate, user_activate, user_role, img_no
		FROM tb_user
	</sql>
	
	<select id="select" parameterType="int" resultType="BoardDto">
		<include refid="selectFromBoard" />
		where user_no = #{user_no}
	</select>
	
	<delete id="deleteAll">
		delete from tb_user
	</delete>
	
	<insert id="insert" parameterType="UserDto">
		INSERT INTO tb_user
			(user_id, user_pwd, user_name)
		VALUES
			(#{user_id}, #{user_pwd}, #{user_phone})
	</insert>
	
	<select id="count" resultType="int">
		select count(*) from t_board
	</select>
	
	<select id="selectPage" parameterType="map" resultType="UserDto">
		<include refid="selectFromBoard" />
		order by reg_date desc, bno desc
		limit #{pageSize} offset #{offset}
	</select>
	
	
	
</mapper>