<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.purplaying.UserMapper">

	<sql id="selectFromUser">
		SELECT USER_NO, USER_ID ,USER_PWD ,USER_NAME,USER_PHONE,USER_REGDATE ,USER_ACTIVATE,USER_ROLE FROM tb_user
	</sql>
	
	<select id="select" parameterType="String" resultType="UserDto">
		<include refid="selectFromUser" />
		where user_id = #{user_id}
	</select>
	
	<delete id="deleteAll">
		truncate table TB_USER restart identity
	</delete>
	
	<insert id="insert" parameterType="UserDto">
		INSERT INTO tb_user (user_id, user_pwd, user_name, user_phone) VALUES (#{user_id}, #{user_pwd}, #{user_name}, #{user_phone})
	</insert>
	
	<select id="count" resultType="int">
		select count(*) from tb_user
	</select>
	
</mapper>